<div class="list-container">
  <h2>User List</h2>

  <table class="entity-table">
    <thead>
      <tr>
        <th *ngFor="let col of displayedColumns">{{ col | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entity of entities">
        <td>{{ entity.email }}</td>
        <td>{{ entity.firstName }}</td>
        <td>{{ entity.description }}</td>
        <td>
          <button class="edit-button" (click)="editEntity(entity.email)">Modifier</button>
          <button class="delete-button" (click)="deleteEntity(entity.email)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
