.admin-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.admin-container {
  display: flex;
  flex: 1;
  background-color: #f4f7f6;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
