@import 'tailwindcss';

.input {
  @apply w-full p-2 rounded-lg border border-gray-300 focus:outline-none
         focus:ring-2 focus:ring-blue-400 transition;
}

.input.ng-touched.ng-invalid {
  @apply border-red-500 ring-1 ring-red-500 focus:ring-red-500;
}

.input.ng-touched.ng-valid {
  @apply border-green-500 ring-1 ring-green-500 focus:ring-green-500;
}